<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Entries</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="entries">
        <div>
            <span>User: {{user.username}}</span>
            <input type="button" value="Log Out" v-on:click="logOut"/>
        </div>
        <div>
            <input type="button" value="Create" v-on:click="createEntry"/>
        </div>
        <div>
            <div v-for="diary in diaries">
                <a v-bind:href="`/entry.html?id=${diary.id}`">
                    <h1>{{diary.title}}</h1>
                    <h2>Written on: {{diary.date}}</h2>
                    <p>
                        {{diary.body}}
                    </p>
                </a>
            </div>
        </div>
        <input type="button" value="previous" v-if="hasPrevious" v-on:click="movePage(-1)"/>
        <input type="button" value="next" v-if="hasNext" v-on:click="movePage(1)"/>
    </div>
    <script src="scripts/entries.js"></script>
</body>
</html>